# Excluded directories
.cloud
.storage
.google.token
custom_components
image
tts

# Excluded files
ip_bans.yaml
secrets.yaml
known_devices.yaml
.shopping_list.json
.HA_VERSION
home-assistant.log
zones.yaml